@import "./variables";

@mixin smallNavLinkBtn {
  border: none;
  background-color: transparent;
  color: $main-clr-two;
  font-weight: bold;
  cursor: pointer;
}

@mixin largeNavLinkBtn {
  border: none;
  background-color: transparent;
  color: $main-clr-one;
  font-weight: bold;
  cursor: pointer;
}

@mixin signUpBtn {
  border: 1px solid $main-clr-one;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 5px;
  color: $main-clr-one;
  font-weight: bold;
  cursor: pointer;
}

@mixin ctaBlueBtnFilled {
  height: 50px;
  width: 150px;
  border: none;
  background-color: $main-clr-five;
  border-radius: 5px;
  color: $main-clr-one;
  font-weight: bold;
  cursor: pointer;
}

@mixin ctaBlueBtnOutlined {
  @include ctaBlueBtnFilled;
  border: 1px solid $main-clr-five;
  background-color: transparent;
  color: $main-clr-five;
}

@mixin infoPara {
  text-align: center;
  font-size: 0.9rem;
  line-height: 25px;
  color: $main-clr-four;
}

@mixin learnAboutPara {
  text-align: left;
  font-size: 0.7rem;
  color: $main-clr-two;
}
