$main-clr-one: #fff;
$main-clr-two: #24292e;
$main-clr-three: #959da5;
$main-clr-four: #586069;
$main-clr-five: #1074e7;
$main-clr-six: #2ebc4f;
$main-clr-seven: #0366d6;
$main-clr-eight: #f6f8fa;
$main-clr-nine: #044289;

$orange-clr: #ff5f00;
$purple-clr: #8a39e1;
