@import "../../scss/mixins";
@import "../../scss/variables";

.getStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  padding: 80px 25px;
}

.getStarted__info {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

  &__title {
    text-align: center;
    color: $main-clr-two;
  }

  &__para {
    @include infoPara;
  }
}

.getStarted__service {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;

  &__title {
    color: $main-clr-two;
  }

  &__para {
    @include infoPara;
  }

  &__btn {
    @include ctaBlueBtnFilled;

    &--outlined {
      @include ctaBlueBtnOutlined;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 5px;
    }
  }
}

@media screen and (min-width: 1224px) {
  .getStarted {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
